* {
    background-color: lightgoldenrodyellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title{
    font-size: 100px;
    color: palevioletred;
    font-weight: 800;
    text-align: center;
    border-style: dotted;
    border-width: 10px;
    border-color: palevioletred;
    padding: 20px;
}

.baked-items{
    font-size: 50px;
    color: palevioletred;
    font-weight: 700;
    border-width: 10px;
    border-color: palevioletred;
    border-style: dotted;
    padding: 20px;
}

.subheader{
    border-width: 10px;
    border-color: peachpuff;
    border-style: dotted;
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.description{
    margin: 50px;
}

div{
    border-width: 5px;
    border-color: peachpuff;
    border-style: dotted;
    padding: 10px;
    margin: 50px;
}

p {
    font-size: 25px;
}

ul {
    font-size: 25px;
    padding: 8px;
    margin: 8px;
}

a{
    background-color: peachpuff;
}

ol {
    font-size: 25px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}